.question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2.5rem 0 1rem;
    font-weight: 600;
}

.options {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-bottom: 0.8rem;
}